.root {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  height: var(--size-px-60);
  border-bottom: 1px solid var(--color-grey-100);
  display: flex;
  align-items: center;
  padding: 0 var(--layout-gutter-desktop);
  width: 100%;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* 공통 설명 */
  margin: 0 auto;
}

@media (max-width: 768px) {
  .root {
    padding: 0 var(--layout-gutter-mobile);
  }
}
