.root {
  display: flex;
  align-items: center;
  gap: var(--space-4);
  flex: 0 0 auto;
}

.menuButton {
  color: var(--color-grey-700);
}

.menuButton:hover {
  color: var(--color-grey-900);
}

.logoLink {
  display: flex;
  align-items: center;
}

.logo {
  height: var(--size-px-24);
  width: auto;
}

@media (max-width: 768px) {
  .root {
    gap: var(--space-2);
  }
}
