.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-white);
}

.body {
  display: flex;
  flex: 1;
  position: relative;
}

.main {
  flex: 1;
  transition: margin-left var(--motion-duration-slow) var(--motion-ease-standard);
  min-height: calc(100vh - var(--size-px-60));
  position: relative;
  display: flex;
  flex-direction: column;
}

.mainShifted {
  --main-left-offset: var(--size-px-240);
  margin-left: var(--size-px-240);
  width: calc(100% - var(--size-px-240));
}

.mainCollapsed {
  --main-left-offset: var(--size-px-72);
  margin-left: var(--size-px-72);
  width: calc(100% - var(--size-px-72));
}

@media (max-width: 768px) {
  .mainShifted,
  .mainCollapsed {
    --main-left-offset: 0px;
    margin-left: 0;
    width: 100%;
  }
}
