.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-white);
}

.body {
  display: flex;
  flex: 1;
  position: relative;
  /* 공통 설명 */
}

.main {
  flex: 1;
  /* 공통 설명 */
  /* 공통 설명 */
  /* 공통 설명 */
  transition: margin-left var(--motion-duration-slow) var(--motion-ease-standard);
  min-height: calc(100vh - var(--size-px-60));
  position: relative;
  display: flex;
  flex-direction: column;
}

.mainShifted {
  margin-left: var(--size-px-240);
  width: calc(100% - var(--size-px-240));
}

.mainCollapsed {
  margin-left: var(--size-px-72);
  width: calc(100% - var(--size-px-72));
}



@media (max-width: 768px) {

  .mainShifted,
  .mainCollapsed {
    margin-left: 0;
    /* 공통 설명 */
  }

}