.modalContent {
  width: 100%;
  max-width: var(--size-px-360);
  padding: 0;
  border-radius: var(--size-px-20);
  background-color: var(--color-white);
  overflow: hidden;
}

.container {
  padding: var(--size-px-32) var(--size-px-24);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.iconWrapper {
  width: var(--size-px-80);
  height: var(--size-px-80);
  background-color: var(--color-grey-100);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--size-px-24);
}

.icon {
  color: var(--color-grey-600);
}

.title {
  font-size: var(--size-px-20);
  font-weight: 700;
  color: var(--color-grey-900);
  margin-bottom: var(--size-px-12);
}

.description {
  font-size: var(--size-px-16);
  line-height: 1.5;
  color: var(--color-grey-600);
  margin-bottom: var(--size-px-32);
  word-break: keep-all;
}

.description strong {
  font-weight: 600;
  color: var(--color-primary);
}

.actions {
  width: 100%;
}

.actionButton {
  width: 100%;
}